{% extends 'layout.html' %}
{% block body %}
<div class="column">
        <img src="{{url_for('static', filename='left_col.png')}}" />
</div>
<div class="column" style="width:800px; margin:0 auto;">
    <!-- <div style="width:800px; margin:0 auto;"> -->
        <title>{{ app_data['html_title'] }}</title>
        {% autoescape false %}
        <p>{{ app_data['history'] }}</p>
        {% endautoescape %}
        {%for ii , cname in enumerate(app_data['children_name'])%} 
            <p><a href="/explore/{{ii}}">>>></a> {{ cname }}</p> <br><br>
        {%endfor%}     
    <!-- </div> -->
</div>
{% endblock %}
